@import "./color/colorPalette";
.box {
  padding: 24px;

  /* White */
  background: var(--system_background);
  /* Gray-04 */
  border: 0.5px solid var(--system_ui-04);
  /* elevation shadow / 2 */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 16px;

  color: var(--text-emphasize);

  .inner-box {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 4px;

      height: 28px;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 8px;

      width:251px;
      height: 114px;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }

  .crop-inner-box{
    padding: 12px 16px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;

      height: 28px;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 50px 14px;
      margin-left: 20px;
      margin-right: 20px;
      background: var(--section_background);
      border-radius: 12px;

      width:111px;
      height: 114px;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      &--empty{
        width: 96px;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
          cursor: pointer;
          background-color: #{$-Primary-06};
          padding: 7px 14px;
          border-radius: 8px;
          label{
            cursor: pointer;
            color: #FFFFFF;
          }
          &:hover{
            background-color: #{$-Primary-05};
          }
        }
      }
    }
  }

  .content-text{
    color: var(--system_ui-06);

  }
}
