.dashboard-frame{
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  gap: 143px;

  width: 333px;
  height: 248px;

  /* White */
  background: #FFFFFF;
  /* Gray-04 */
  border: 0.5px solid #A2A2A2;
  /* elevation shadow / 2 */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 16px;

  .inner-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px;
    gap: 32px;

    width: 268px;
    height: 200px;

    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 4px;

      width: 134px;
      height: 28px;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 8px;

      width: 197px;
      height: 90px;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }
}