@import "./color/colorPalette";

.friend-list-frame{
  width: 600px;
  height: 906px;
  display: flex;
  flex-direction: column;
  background: $-system_white;
  border: 0.5px solid $-gray_cool-300;
  border-radius: 16px;

  .friend-list-info{
    width: 560px;
    height: 28px;
    display: flex;
    margin: 20px;
    align-items:center;
    .friend-list-icon{
    }
    .friend-list-label{
    }
  }

  .friend-list-grid{
    display: grid;
    row-gap: 20px;
    margin: 8px 0px 0px 20px;
    .friend-list-form{
      width: 560px;
      height: 72px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: $-system_white;
      border: 0.5px solid $-gray_cool-300;
      border-radius: 8px;

      .friend-profile{
        margin:16px;
        width: 40px;
        height: 40px;
        border-radius: 8px;
      }
      .friend-info{
        width: 240px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        .friend-name{

        }
        .friend-status-online{
          color: $-success-500;
        }
        .friend-status-offline{
          color: $-success-500;
        }
      }
    }
    .friend-name{
      width: 114px;
      height: 22px;
      font-weight: 500;
    }
  }
  
}