@import "./color/colorPalette";

.header{
  background-color: var(--system_background);
}

$-gap : 1.5rem;
.dragUnable{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-image {
  margin-right: 13.5rem;
  cursor: pointer;

}
.recent-room-list{
  display: flex;
  gap: 1rem;
  .recent-room-dialog{
    z-index: 10;
    position: absolute;
    background-color: var(--system_background);
    color: var(--text-01);
    padding: 5px 10px;
    border-radius: 4px;
  }
}

.user-profile-image{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--system_ui-01);
  border-radius: 8px;
  span{
    font-size: 30px;
    color: var(--system_ui-03);
  }
}

.user-profile-name{
  font-weight: 500;
  color: var(--system_ui-09);
}

.user-profile-introduce{
  color: var(--system_ui-08);
}

.recent-room-item{
  width: 2.625rem;
  height: 2.625rem;
  border: 1px solid var(--system_ui-03);
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  background-color: var(--system_ui-01);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  span{
    font-size: 30px;
    color: var(--system_ui-03);
  }
}
.create-room-button{
  width: 2.75rem;
  height: 2.75rem;
  border: 1px solid var(--system_ui-03);
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  background-color: inherit;
  .icon{
    vertical-align: top;
    cursor: pointer;
    color: var(--system_ui-06);
    color: var(--system_ui-06);
  }
}

.header-user-section{
  display: flex;
  margin-left: auto;
  gap: $-gap;
}

header-form{}