$-gap : 1.5rem;

.header-image {
  padding-right: 13.5rem;
}
.recent-room-list{
  display: flex;
  gap: 1rem;
}
.recent-room-item{
  width: 2.625rem;
  height: 2.625rem;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  align-items: center;
}
.create-room-button{
  width: 2.75rem;
  height: 2.75rem;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  align-items: center;
  .icon{
    vertical-align: top;
  }
}

.header-user-section{
  display: flex;
  margin-left: auto;
  gap: $-gap;

  .button-group{
    display: flex;
    gap: $-gap;
  }
}
