@import "./color/colorPalette";

.previous-button{
  display: inline;
  cursor: pointer;
}

.next-button{
  display: inline;
  cursor: pointer;
}

.next-icon{
  cursor: pointer;
}

.previous-icon {
  cursor: pointer;
}

.selected-color{
  color:var(--danger);
}

.unselected-color{
  color:var(--system_ui-04);
}