@import "./color/colorPalette";

.profile-dialog__background {
  z-index: 10;
  background-color: #4B4C4E;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
}

  .profile-dialog__form {
    width: 600px;
    height: 600px;
    opacity: 100%;
    z-index: 11;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 20px;
    background-color: var(--ui-cardui);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--system_ui-08);

    .profile-dialog__top-bar {
      display: flex;
      width: 600px;
      height: 56px;

      .profile-dialog__title {
        display: flex;
        align-items: center;
        margin: 20px;

        .profile-dialog__icon {
          margin-right: 8px;
        }

        .profile-dialog__title__label {
          font-weight: 700;
        }
      }

      .profile-dialog__icons {
        display: flex;
        width: 72px;
        height: 24px;
        margin: 16px 16px 16px auto;

        .profile-dialog__share-icon {
          margin-right: auto;
        }

        .profile-dialog__option-icon {
          margin-left: auto;
        }
      }

    }

    .profile-dialog__profile__div {
      .profile-dialog__profile {
        display: flex;
        margin: 20px 0px 24px 36px;

        .profile-dialog__profile-image {
          height: 140px;
          width: 140px;
          border-radius: 16px;
          background-color: var(--system_ui-01);
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            color: var(--system_ui-03);
            font-size: 65px;
          }
        }

        .profile-dialog__labels {
          margin-left: 20px;
          margin-top: 8px;

          .profile-dialog__info {
            display: flex;
            align-items: center;

            .profile-dialog__name {
            }

            .profile-dialog__organizations {
              .profile-dialog__organization {
                color: var(--primary-press);
                margin-left: 12px;
              }

            }
          }

          .profile-dialog__introduce {
            color: var(--text-04);
            font-weight: 400;
          }

          .profile-dialog__tags {
            display: flex;
            margin-top: 12px;

            .profile-dialog__tag {
              background-color: #FFF8E8;
              padding: 8px 12px 8px 12px;
              margin-right: 12px;
              border-radius: 8px;

              .profile-dialog__tag__label {
                color: #{$-Primary-06};
              }
            }
          }
        }

      }

      .profile-dialog__horizon {
        width: 544px;
        height: 0.5px;
        background-color: var(--system_ui-03);
        margin-left: 36px;
      }

      .profile-dialog__etc {
        margin-left: 20px;
        margin-top: 16px;

        .profile-dialog__rank {
          width: 560px;
          height: 60px;
          display: flex;
          align-items: center;

          .profile-dialog__icon {
            margin-left: 19px;
          }

          .profile-dialog__rank__subtitle {
            margin-left: 7px;
            font-weight: 600;
          }

          .profile-dialog__rank__weekly {
            margin-left: 41px;
          }

          .profile-dialog__rank__total {
            margin-left: auto;
            margin-right: 16px;
            color: var(--text-03);
          }
        }

        .profile-dialog__history {
          width: 560px;
          height: 60px;
          display: flex;
          align-items: center;

          .profile-dialog__icon {
            margin-left: 19px;
          }

          .profile-dialog__history__subtitle {
            margin-left: 7px;
            font-weight: 600;
          }

          .profile-dialog__history__weekly {
            margin-left: 28px;
          }

          .profile-dialog__history__total {
            margin-left: auto;
            margin-right: 16px;
            color: var(--text-03);
          }
        }

        .profile-dialog__crop {
          width: 560px;
          height: 60px;
          display: flex;
          align-items: center;

          .profile-dialog__icon {
            margin-left: 19px;
          }

          .profile-dialog__crop__subtitle {
            margin-left: 7px;
            font-weight: 600;
          }

          .profile-dialog__crop--image {
            margin-left: 84px;
            label{
              color: var(--text-04);
            }
          }

          .profile-dialog__crop--label {
            margin-left: auto;
            margin-right: 16px;
            color: var(--text-03);
          }
        }

        .profile-dialog__crop-inventory {
          width: 560px;
          height: 60px;
          display: flex;
          align-items: center;

          .profile-dialog__icon {
            margin-left: 19px;
          }

          .profile-dialog__crop-inventory__subtitle {
            margin-left: 7px;
            font-weight: 600;
          }

          .profile-dialog__crop-inventory__image {
            display: grid;
            grid:". . . .";
            gap: 8px;
            margin-left: 54px;
            label{
              color: var(--text-04);
            }
          }

          .profile-dialog__crop-inventory__label {
            margin-left: auto;
            margin-right: 16px;
            color: var(--text-03);
          }
        }
      }

      .profile-dialog__friend-request__button {
        display: flex;
        align-items: center;
        width: 163px;
        height: 38px;
        background-color: var(--primary);
        border-radius: 8px;
        color: #ffffff;
        margin: 42px 20px 24px auto;
        cursor: pointer;

        .profile-dialog__icon {
          font-size: 16px;
          margin-left: 16.83px;
          margin-right: 10.83px;
          cursor: pointer;
        }

        .profile-dialog__friend-request__button__label {
          margin-right: 16px;
          cursor: pointer;
        }
      }

      .profile-dialog__friend-request__button--requested {
        display: flex;
        align-items: center;
        width: 163px;
        height: 38px;
        background-color: var(--primary);
        border-radius: 8px;
        color: #ffffff;
        margin: 42px 20px 24px auto;
        cursor: pointer;

        .profile-dialog__icon {
          font-size: 16px;
          margin-left: 16.83px;
          margin-right: 10.83px;
          cursor: pointer;
        }

        .profile-dialog__friend-request__button__label {
          margin-right: 16px;
          cursor: pointer;
        }
      }

      .profile-dialog__friend-request__button--accepted {
        display: flex;
        align-items: center;
        height: 38px;
        border: 1px solid var(--primary); ;
        background-color: inherit;
        border-radius: 8px;
        color: #ffffff;
        margin: 42px 20px 24px auto;
        cursor: pointer;

        .profile-dialog__icon {
          color: var(--primary);
          font-size: 16px;
          margin-left: 16.83px;
          margin-right: 10.83px;
          cursor: pointer;
        }

        .profile-dialog__friend-request__button__label {
          color: var(--primary);
          margin-right: 16px;
          cursor: pointer;
        }
      }

    }

}