@import "./color/colorPalette";

.rank-page{
  background-color: var(--ui-cardui);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  .rank-page-nation{
    max-width: 1040px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
.rank-page::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.rank-header{
  display: flex;
  position: relative;
  margin: 24px 0px 0px 20px;
  .rank-header__title{
    font-weight: 600;
    color: var(--text-01);
    margin-right: 12px;
  }
  .rank-header__menu{
    z-index: 1;
    width: 88px;
    height: 28px;
    background-color: transparent;
    border-radius: 8px;
    color: var(--text-04);
    margin-left: 16px;
    margin-top: 7px;
    cursor: pointer;

    .rank-header__menu__label{
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }

  .rank-header__menu__div {
    z-index: 0;
    position: absolute;
    width: 88px;
    height: 28px;
    background-color: var(--system_ui-02);
    border-radius: 8px;
    color: var(--text-04);
    left: 144px;
    margin-top: 7px;
  }

  .rank-header__menu--selected{
    z-index: 1;
    width: 88px;
    height: 28px;
    border-radius: 8px;
    color: var(--text-04);
    margin-left: 16px;
    margin-top: 7px;
    background-color: transparent;
    .rank-header__menu__label{
      color: var(--text-02);
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  .rank-header__info{
    position: relative;
    &__icon{
      font-size: 28px;
      margin-left: 20px;
      margin-top: 7px;
      color: var(--text-03);
      cursor: default;
    }
    &__dialog{
      z-index: 3;
      background-color: var(--system_background);
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 50px;
      border-radius: 8px;
      label{
        font-weight: 300;
        width: 230px;
        padding: 10px 20px;
        color: var(--text-02);
        b{
          color: var(--primary-press);
          font-weight: 500;
        }
      }
    }
  }
}

.rank-form::-webkit-scrollbar {
  display: none;
}

.rank-form[rankType='weekly']{
  height: calc(100vh - 235px);
}

.rank-form{
  height: calc(100vh - 290px);
}

.rank-form, .rank-form[rankType='weekly']{
  width: 1040px;
  background-color: var(--ui-cardui-01);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  border: 0.5px solid var(--system_ui-04);
  border-radius: 16px;
  margin: 22px 40px 20px 20px;
  position: relative;
  .rank-header__menu{
  }
  .rank-form__subtitle{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 12px;
    align-items: center;
    .rank-form__subtitle__icon{
      font-size:25px;
      color: var(--text-emphasize);
    }
    .rank-form__subtitle__label{
      margin-left: 3px;
      color: var(--text-01);
    }
  }

  .my-rank-form{
    margin-top: 20px;
    .my-rank__sub-title-form{
      .my-rank-form__label{
        margin-left: 25px;
        color: var(--text-01);
      }
      .my-rank-form__label__score{
        margin-left: 476px;
        font-weight: 300;
        color: var(--text-03);
      }
      .my-rank-form__label__time{
        margin-left: 130px;
        font-weight: 300;
        color: var(--text-03);
      }
    }
  }

  .my-rank-form .rank-form__content{
      width: 1000px;
      height: 72px;
      border: 0.5px solid var(--my-rank-form-border);
      border-radius: 8px;
      margin-top: 12px;
      margin-left: 20px;
      background-color: var(--my-rank-form-background);
      display: flex;
      align-items: center;

    .rank-form__content__profile{
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      .rank-form__content__info{
        display: flex;
        align-items: center;
        .rank-form__content__nickname{
          width: 114px;
          height: 22px;
          font-weight: 500;
          color: #{$-Gray-09};
        }
        .rank-form__content__status{
          margin-left:8px;
          font-weight: 600;
          color: #{$-Success-08};
        }
      }
      .rank-form__content__introduce{
        display: block;
        width: 240px;
        height: 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color:var(--system_ui-05);
      }
    }

      .rank-form__content__ranking[rank='etc']{
        width: 40px;
        height: 40px;
        background-color: #C1C1C1;
        border-radius: 8px;
        margin: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        .rank-form__content__ranking__label{

        }
      }

    .rank-form__content__status{
      color: #{$-Gray-09};
    }

    .rank-form__content__option{
      color: #{$-Gray-09};
    }
  }

  .rank-from__hr{
    width: 1000px;
    margin: 10px 16px 24px 16px;
    border: 0.5px solid var(--system_ui-02);
  }

  .rank-form__content, .rank-form__content{
    .rank-form__content__ranking[rank='first']{
      width: 40px;
      height: 40px;
      background-color: #E2B63E;
      border-radius: 8px;
      margin: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .rank-form__content__ranking__label{
        color: #FFFFFF;
      }
    }

    .rank-form__content__ranking[rank='second']{
      width: 40px;
      height: 40px;
      background-color:#A6C0D3 ;
      border-radius: 8px;
      margin: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .rank-form__content__ranking__label{
        color: #FFFFFF;
      }
    }

    .rank-form__content__ranking[rank='third']{
      width: 40px;
      height: 40px;
      background-color: #BA7638;
      border-radius: 8px;
      margin: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .rank-form__content__ranking__label{
        color: #FFFFFF;
      }
    }
  }

  .rank-form__content{
    width: 1000px;
    height: 72px;
    border: 0.5px solid var(--system_ui-04);
    border-radius: 8px;
    margin-bottom: 24px;
    margin-left: 20px;
    background-color: var(--ui-cardui-02);
    display: flex;
    align-items: center;
    position: relative;

    .rank-form__content__ranking[rank='etc']{
      width: 40px;
      height: 40px;
      background-color: #988363;
      border-radius: 8px;
      margin: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .rank-form__content__ranking__label{
        color: #FFFFFF;
      }
    }

    .rank-form__content__ranking[rank='none']{
      width: 40px;
      height: 40px;
      background-color: #C1C1C1;
      border-radius: 8px;
      margin: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .rank-form__content__ranking__label{
        color: #FFFFFF;
      }
    }

    .rank-form__content__profile-img{
      width: 40px;
      height: 40px;
      background-color: var(--system_ui-02);
      border-radius: 8px;
    }
    .rank-form__content__profile{
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      .rank-form__content__info{
        display: flex;
        align-items: center;
        .rank-form__content__nickname{
          width: 114px;
          height: 22px;
          font-weight: 500;
          color:var(--text-01)
        }
        .rank-form__content__status{
          margin-left:8px;
          font-weight: 600;
          color: var(--status-login);
        }
      }
      .rank-form__content__introduce{
        display: block;
        width: 240px;
        height: 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color:var(--system_ui-05);
      }
    }
    .rank-form__content__record{
      width: 330px;
      height: 32px;
      display: flex;
      justify-content: space-between;
      margin-left: 112px;
      color: var(--system_ui-05);
      .rank-form__content__score-form{
        width: 124px;
        display: flex;
        .rank-form__content__score{
          margin-left: auto;
          font-weight: 500;
        }
      }
      .rank-form__content__study-time{
        font-weight: 500;
      }
    }

    .rank-form__content__option{
      display: flex;
      margin-left: auto;
      margin-right: 34px;
      font-size: 30px;
      color: var(--text-emphasize);
      cursor: pointer;
      position: relative;
      &-dialog{
        position: absolute;
        width: 61px;
        background-color: var(--system_background);
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 7px 14px;
        right: 10px;
        top: 17px;
        display: none;
        border-radius: 8px 0px 8px 8px;
        label{
          cursor: pointer;
        }
      }
    }
  }

}