@import "./color/colorPalette";

.dragUnable{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search-user__title{
  margin: 24px 0px 0px 20px;
  color: var(--text-01);
}

.search-user__input{
  width: 210px;
  height: 18px;
  margin: 25px 0px 0px 20px;
  padding: 10px 54px 10px 16px;
  border: 1px solid var(--text-04);
  border-radius: 8px;
  color: var(--system_ui-05);
  background-color: var(--ui-cardui);
}

.search-user-frame{
  width: 600px;
  height: 82vh;
  margin: 24px 0px 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--ui-cardui);
  border: 0.5px solid $-gray_cool-300;
  border-radius: 16px;
  position: relative;

  .search-user-info{
    width: 560px;
    height: 28px;
    display: flex;
    margin: 22px 0px 28px 20px;
    align-items:center;
    .search-user-icon{
      color: var(--text-01);
    }
    .search-user-label{
      margin-left: 4px;
      color: var(--text-01);
    }
  }

  .search-user-grid{
    display: grid;
    row-gap: 20px;
    margin: 8px 0px 0px 20px;
    .search-user-form{
      width: 560px;
      height: 72px;
      display: inline-flex;
      background-color: var(--ui-cardui-01);
      border: 0.5px solid $-gray_cool-300;
      border-radius: 8px;

      .user-profile{
        margin:16px;
        width: 40px;
        height: 40px;
        border-radius: 8px;
      }
      .user-info{
        width: 240px;
        height: 22px;
        margin-top: 16px;

        .user-name{
          width: 114px;
          height: 22px;
          color: var(--text-01);
          font-weight: 500;
          font-family: "Pretendard";
          margin-right: 8px;
        }
        .user-status-online{
          margin-top: 3px;
          color: var(--success);
        }
        .user-status-offline{
          margin-top: 3px;
          color: var(--error);
        }
      }

      .user-button{
        display: flex;
        margin-left: auto;
        margin-right: 20px;
        align-items: center;
        background-color: var(--ui-cardui-01);
        .user-add-friend__button{
          margin-right: 20px;
          background-color: var(--ui-cardui-01);
          color: var(--text-01);
          cursor: pointer;
        }
        .user-option{
          position: relative;
          &__button {
            height: 30px;
            background-color: var(--ui-cardui-01);
            color: var(--text-01);
            cursor: pointer;
            .user-option-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 16px;
              height: 4px;
            }
          }
          &__dialog{
            position: absolute;
            width: 70px;
            background-color: var(--ui-cardui);
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 7px 10px;
            right: 10px;
            top: 17px;
            display: none;
            border-radius: 8px 0px 8px 8px;
            label{
              padding:4px ;
              color: var(--text-01);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .search-user-error{
    display: flex;
    justify-content: center;
    margin-top:55%;
    color:var(--system_ui-04);
  }
}