@import "./color/colorPalette";

.study-room__page{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .study-room__cam-form{
    display: flex;
    flex-direction: column;
    .study-room__user-form{
      width: 1020px;
      height: 961px;
      background-color: #171717;
      &__grid{
        padding: 80px 50px 80px 50px;
        display: grid;
        grid: '. .';
        gap:2px;
        .study-room__user{
          width: 460px;
          height: 400px;
          background-color: #3D3D3D;
          display: flex;
          flex-direction: column;
          &__video{
            width: 460px;
            height: 338px;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
            label{
              color: $-Dark-06;
            }
          }
          &__option-bar{
            width: 460px;
            height: 62px;
            background-color: $-Dark-01;
            margin-top: auto;
            display: flex;
            align-items: center;
            .study-room__user__name{
              margin: 20px;
              color: $-White;
            }
            .study-room__camera-icon{
              margin-left: 2px;
              margin-right: 10px;
            }
            .study-room__headphones-icon{
              margin-right: 8px;
            }
            .study-room__mic-icon{

            }
            .study-room__option-icon{
              margin-left: auto;
              margin-right: 20px;
            }
          }
        }
      }
    }
    .study-room__button-form{
      width: 1020px;
      height: 120px;
      background-color: #242424;
      display: flex;
      align-items: center;
      position: relative;
      &__logo{
        color: #FFFFFF;
        margin-left: 32px;
        cursor: default;
      }
      &__icon-form{
        display: grid;
        grid:". . .";
        gap: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        span{
          padding: 5px;
          border-radius: 20px;
          font-size: 45px;
          &:hover{
            background-color: $-Dark-03;
          }
          &:active{
            background-color: $-Dark-02;
          }
        }
      }
    }
  }
  .study-room__info-form{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    .study-room__timer-form{
      height: 448px;
      width: 420px;
      border-left: 0.3px solid $-Dark-03 ;
      border-bottom: 0.3px solid $-Dark-03;
      &__subtitle{
        width: 151px;
        height: 28px;
        margin-top: 28px;
        margin-left: 28px;
        display: flex;
        &__label{
          margin-left: 4px;
          color: $-White;
        }
      }
      &__time{
        height: 74px;
        width: 196px;
        margin-top: 32px;
        margin-left: 112px;
        margin-bottom: 40px;
        label{
          font-size: 72px;
          color: $-Primary-05
        }
      }
      &__time-set{
        width: 364px;
        height: 36px;
        margin-bottom: 20px;
        margin-left: 28px;
        display: flex;
        align-items: center;
        position: relative;
        label{
          color:$-White
        }
        .study-room__timer-form__drop-down{
          display: flex;
          z-index: 1;
          width: 120px;
          height: 36px;
          margin-left: auto;
          background-color: $-Dark-01;
          color: $-White;
          border-radius: 8px;
          display: flex;
          align-items: center;
          label{
            margin: 7px 16px;
          }
          span{
            margin-left: auto;
            margin-right: 6px;
          }
          &:hover{
            background-color: $-Dark-03;
          }
          &:active{
            background-color: $-Dark-02;
            border-radius: 8px 8px 0px 0px;
          }
        }
        ul{
          position: absolute;
          z-index: 0;
          right: 0px;
          top: 31px;
          background-color: $-Dark-01;
          border-radius: 0px 0px 8px 8px;
          padding-top: 5px;
          li{
            display: flex;
            align-items: center;
            width: 120px;
            height: 36px;
            color: $-White;
            border-radius: 8px;
            label{
              margin-left: 16px;
            }
            &:hover{
              background-color: $-Dark-02;
            }
          }
        }
      }
      &__short-rest-set{
        width: 364px;
        height: 36px;
        display: flex;
        margin-bottom: 20px;
        margin-left: 28px;
        display: flex;
        align-items: center;
        label{
          color:$-White
        }
        .study-room__timer-form__drop-down{
          display: flex;
          width: 120px;
          height: 36px;
          margin-left: auto;
          background-color: $-Dark-01;
          color: $-White;
          border-radius: 8px;
          display: flex;
          align-items: center;
          label{
            margin: 7px 16px;
          }
          span{
            margin-left: auto;
            margin-right: 6px;
          }
        }
      }
      &__long-rest-set{
        width: 364px;
        height: 36px;
        display: flex;
        margin-bottom: 20px;
        margin-left: 28px;
        display: flex;
        align-items: center;
        label{
          color:$-White
        }
        .study-room__timer-form__drop-down{
          display: flex;
          width: 120px;
          height: 36px;
          margin-left: auto;
          background-color: $-Dark-01;
          color: $-White;
          border-radius: 8px;
          display: flex;
          align-items: center;
          label{
            margin: 7px 16px;
          }
          span{
            margin-left: auto;
            margin-right: 6px;
          }
        }
      }
      &__info{
        display: flex;
        width: 364px;
        margin-top: 40px;
        margin-left: 28px;
        &__text{
          display: flex;
          flex-direction: column;
          .study-room__timer-form__info__status{
            color:$-White
          }
          .study-room__timer-form__info__time-info{
            color:$-White
          }
        }
        &__button{
          margin-left: auto;
          background-color: #E0E0E0;
          border-radius: 8px;
          label{
            width: 84px;
            height: 22px;
            padding: 8px 16px;
            color: $-Gray-05;
          }
        }
      }
    }
    .study-room__chat-form{
      height: 632px;
      width: 420px;
      border-left: 0.3px solid $-Dark-03 ;
      &__header{
        display: flex;
        align-items: center;
        width: 364px;
        margin-top: 32px;
        margin-left: 30px;

        label{
          color: $-White
        }

        .study-room__chat-form__header__subtitle{
          margin-left: 4px;
        }

        .study-room__chat-form__header__block-list{
          &--closed, &--open{
            display: flex;
            align-items: center;
            width: 120px;
            height: 24px;
            margin-left: auto;
            span{
              margin-left: auto;
            }
          }
        }
      }
      &__text-field{
        height: 450px;
        width: 364px;
        margin-left: 30px;
        margin-top: 10px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        label{
          margin:4px 4px;
          font-weight: 200;
        }
        &__notice{
          color: $-Dark-05;
        }
        &__chat{
          margin:4px 0px;
          .study-room__chat-form__text-field__name{
            color: $-Dark-06;
            font-weight: 300;
          }
          .study-room__chat-form__text-field__text{
            color: $-White;
            font-weight: 300;
          }
        }
      }
      &__input{
        width: 327px;
        height: 18px;
        margin-left: 30px;
        margin-top: 30px;
        padding: 15px 16px;
        background-color: $-Dark-01;
        border-radius: 8px;
        border: none;
      }
    }
  }

}