// System Color
$-system_white: #FFFFFF;
$-system_gray: #808080;
$-system_black: #000000;

// Light Mode Background Color
$-light-mode: #F8F8F8;

// Basic Grayscale
$-gray_cool-50: #F0F0F0;
$-gray_cool-100: #E0E0E1;
$-gray_cool-200: #C1C1C3;
$-gray_cool-300: #A2A3A4;
$-gray_cool-400: #838486;
$-gray_cool-500: #646568;
$-gray_cool-600: #4B4C4E;
$-gray_cool-700: #323334;
$-gray_cool-800: #19191A;
$-gray_cool-900: #0A0A0A;

// Brand Primary Color
$-primary-50: #E9ECF9;
$-primary-100: #D1D7F3;
$-primary-200: #A4AFE7;
$-primary-300: #7688DA;
$-primary-400: #4960CE;
// Brand Primary Color(main)
$-primary-500: #1B38C2;
$-primary-600: #142A92;
$-primary-700: #0E1C61;
$-primary-800: #070E31;
$-primary-900: #030613;

// Process Success Color
$-success-50: #EAFAE9;
$-success-100: #D3F3D2;
$-success-200: #A8E8A5;
$-success-300: #7CDC78;
$-success-400: #51D14B;
// Process Success Color(main)
$-success-500: #25C51E;
$-success-600: #1C9417;
$-success-700: #13630F;
$-success-800: #093108;
$-success-900: #041403;

// Process Caution Color
$-caution-50: #FEF9E8;
$-caution-100: #FCF2D0;
$-caution-200: #F9E4A1;
$-caution-300: #F7D771;
$-caution-400: #F4C942;
// Process Caution Color(main)
$-caution-500: #F1BC13;
$-caution-600: #B58D0E;
$-caution-700: #795E0A;
$-caution-800: #3C2F05;
$-caution-900: #181302;

// Process Error Color
$-error-50: #FCE8E8;
$-error-100: #F8CFD0;
$-error-200: #F19FA2;
$-error-300: #EA6F73;
$-error-400: #E33F45;
// Process Error Color(main)
$-error-500: #DC0F16;
$-error-600: #A50B11;
$-error-700: #6E080B;
$-error-800: #370406;
$-error-900: #160202;