

//TODO: 수정 전 (변경 후 삭제)

// System Color
$-system_white: #FFFFFF;
$-system_gray: #808080;
$-system_black: #000000;

// Light Mode Background Color
$-light-mode: #F8F8F8;

// Basic Grayscale
$-gray_cool-50: #F0F0F0;
$-gray_cool-100: #E0E0E1;
$-gray_cool-200: #C1C1C3;
$-gray_cool-300: #A2A3A4;
$-gray_cool-400: #838486;
$-gray_cool-500: #646568;
$-gray_cool-600: #4B4C4E;
$-gray_cool-700: #323334;
$-gray_cool-800: #19191A;
$-gray_cool-900: #0A0A0A;

// Brand Primary Color
$-primary-50: #FCF7E8;
$-primary-100: #E0E0E1;
$-primary-200: #A4AFE7;
$-primary-300: #ECCB71;
$-primary-400: #E5B941;
// Brand Primary Color(main)
$-primary-500: #DFA812;
$-primary-600: #A77E0E;
$-primary-700: #0E1C61;
$-primary-800: #070E31;
$-primary-900: #030613;

// Process Success Color
$-success-50: #EAFAE9;
$-success-100: #D3F3D2;
$-success-200: #A8E8A5;
$-success-300: #7CDC78;
$-success-400: #51D14B;
// Process Success Color(main)
$-success-500: #25C51E;
$-success-600: #1C9417;
$-success-700: #13630F;
$-success-800: #093108;
$-success-900: #041403;

// Process Caution Color
$-caution-50: #FEF9E8;
$-caution-100: #FCF2D0;
$-caution-200: #F9E4A1;
$-caution-300: #F7D771;
$-caution-400: #F4C942;
// Process Caution Color(main)
$-caution-500: #F1BC13;
$-caution-600: #B58D0E;
$-caution-700: #795E0A;
$-caution-800: #3C2F05;
$-caution-900: #181302;

// Process Error Color
$-error-50: #FCE8E8;
$-error-100: #F8CFD0;
$-error-200: #F19FA2;
$-error-300: #EA6F73;
$-error-400: #E33F45;
// Process Error Color(main)
$-error-500: #DC0F16;
$-error-600: #A50B11;
$-error-700: #6E080B;
$-error-800: #370406;
$-error-900: #160202;

//수정 후

// System Color (light)
$-White: #FFFFFF;
$-Gray-01: #F0F0F0;
$-Gray-02: #E0E0E0;
$-Gray-03: #C1C1C1;
$-Gray-04: #A2A2A2;
$-Gray-05: #838383;
$-Gray-06: #646464;
$-Gray-07: #4B4B4B;
$-Gray-08: #323232;
$-Gray-09: #191919;
$-Gray-10: #0A0A0A;

// System Color (dark)
$-Black: #171717;
$-Dark-01: #242424;
$-Dark-02: #333333;
$-Dark-03: #3D3D3D;
$-Dark-04: #555555;
$-Dark-05: #6F6F6F;
$-Dark-06: #8B8B8B;
$-Dark-07: #A5A5A5;
$-Dark-08: #C1C1C1;
$-Dark-09: #ECECEC;
$-Dark-10: #F5F5F5;

// Brand Primary Color
$-Primary-01: #FFF8E8;
$-Primary-02: #FFEAB6;
$-Primary-03: #FFDC83;
$-Primary-04: #FFCE51;
$-Primary-05: #FFC01F;
$-Primary-06: #DDA30E;
$-Primary-07: #BB8701;
$-Primary-08: #996E00;
$-Primary-09: #775600;
$-Primary-10: #553D00;

// Process Success Color
$-Success-01: #E9FDFF;
$-Success-02: #C3FBFF;
$-Success-03: #9CF9FF;
$-Success-04: #75F6FF;
$-Success-05: #4FF4FF;
$-Success-06: #26E5F2;
$-Success-07: #0FBEC9;
$-Success-08: #0096A0;
$-Success-09: #007077;
$-Success-10: #004A4E;

// Process Error Color
$-Error-01: #FFEEE5;
$-Error-02: #FFD1B7;
$-Error-03: #FFB489;
$-Error-04: #FF965C;
$-Error-05: #FF792E;
$-Error-06: #FF5C00;
$-Error-07: #D64D00;
$-Error-08: #AD3F00;
$-Error-09: #843000;
$-Error-10: #5C2100;

// Process Danger Color
$-Danger-01: #FFEAE8;
$-Danger-02: #FFBAB6;
$-Danger-03: #FF8B83;
$-Danger-04: #FF5C51;
$-Danger-05: #FF2C1F;
$-Danger-06: #DD1A0E;
$-Danger-07: #BB0C01;
$-Danger-08: #990900;
$-Danger-09: #770700;
$-Danger-10: #550500;