@use '../color/colorPalette' as *;

body, ul{
  padding: initial;
  margin: initial;
  font-family: Pretendard;
}

li{
  list-style-type: none;
}

hr {
  background:$-gray_cool-200;
  height:1px;
  border:0;
}

.header{
  height: 4rem;
}

.light{
  .text{
    color: $-system_black;
  }
  .background{
    background-color: $-light-mode;
  }
}

.dark{
  .text{
    color: $-system_white;
  }
  .background{
    background-color: $-system_black;
  }
}

.flex{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}